# Chapter 4. Joining Data with pandas

# 4.1 Data merging basics

* We will use data from the city of Chicago data portal, and will merge it with census data.

In [1]:
# The Ward data
# wards = pd.read_csv("Ward_Offices.csv")
# print(wards.head())
# print(wards.shape)

In [2]:
# Census data
# census = pd.read_csv("Ward_Census.csv")
# print(census.head())
# print(census.shape)

* The two tables are related by their "ward" column.
* We can merge them toghether by matching the ward numbers from each row of the wards table to the ward numbers from the census table

## Inner Join
* An Inner Join will only return rows that have matching values in both tables

* Pandas package has a method called merge.
* It takes the first dataframe and merges it with the second dataframe.
* We use the "on" argument to tel the method we want to merge the two dataframes on the ward column.
* The columns from the first table will appear first, followed by the columns from the second table.

In [3]:
# wards_census = wards.merge(census, on="ward")
# print(wards_census.head())

### Suffixes

* A merged table may contain columns with suffixes of underscore x or y ("zip_x", "zip_y")
* This is because both wards and census tables contained the same column
* The method automatically gives them a suffix to avoid multiple columns with the same name

In [4]:
# print(ward_census.columns)

In [5]:
# wards_census = wards.merge(census, on="ward", suffixes=("_ward","_cen"))
# print(wards_census.head())
# print(wards_census.shape)

## One-to-many relationships

* One-to-one: every row in the left table is related to only on row in the right table.
* One-to-many: every row in the lelt table is related to one or more rows in the right table.

### Merging multiple DataFrames

In [6]:
# grants = pd.read_csv("Small_Business_Grant_Agreements.csv")
# print(grants.head())

In [7]:
# Theoretical merge
# If we merge on the "zip" column, the zip for Reggie's bar from the licencses table will be matched to multiple businesess in the grants table.
# We do not want that

# grants_licenses = grants.merge(licenses, on="zip")
# print(grants_licenses.loc[grants_licenses["business"]=="REGGIE'S BAR & GRILL", ["grant", "company", "account", "ward", "business"]])

In [8]:
# Practical merge
# If we merged on address only, there is small risk that the address will repeat in different parts of the city
# THE BEST OPTION IS TO MERGE THE TABLES USING THE COMBINATION OF BOTH address AND zip code

# # grants_licenses = grants.merge(licenses, on=["address", "zip"])

In [9]:
# grants_licenses_ward = grants.merge(licenses, on=["address", "zip"])\
#                             .merge(wards, on="ward", suffixes=("_bus","_ward"))
# grants_licenses_ward.head()

In [10]:
# RESULTS
# import matplotlib.pyplot as plt
# grant_licenses_ward.groupby("ward").agg("sum").plot(kind="bar", y="grant")
# plt.show()

# 4.2 Merging tables with different join types

## Left Join
* A Left Join will return all rows of data from the left table and only those rows from the right table where key columns match.

In [11]:
# Movies table

# movies = pd.read_csv("tmdb_movies.csv")
# print(movies.head())
# print(movies.shape) # shape (4803,4)

In [12]:
# Tagline table

# taglines = pd.read_csv("tmdb_taglines.csv")
# print(movies.head())
# print(movies.shape) # shape (3955,2)

In [13]:
# Left join

# movies_taglines = movies.merge(taglines, on="id", how="left")
# print(movies_taglines.head())
# print(movies_taglines.shape) # shape (4805,5)

## Right Join
* A Right Join will return all of the rows from the right table and includes only those rows from the left table that have matching values.
* It is the mirror opposite of the left join.

In [14]:
# Looking at original data

# movies_to_genres = pd.read_csv("tmdb_movies_to_genres.csv")
# print(movies_to_genres.head())

In [15]:
# Filtering the data

# m = movies_to_genres["genre"] == "TV Movie"
# tv_genre = movies_to_genres[m]
# print(tv_genre)

In [16]:
# Right join

# tv_movies = movies.merge(tv_genre, how="right", left_on="id", right_on= "movie_id")
# print(tv_movies.head())

## Outer Join
* An Outer Join will return all of the rows from both tables regardless if there is a match between the tables.

In [17]:
# Looking at original data

# movies_to_genres = pd.read_csv("tmdb_movies_to_genres.csv")
# print(movies_to_genres.head())

In [18]:
# Filtering the data

# m = movies_to_genres["genre"] == "Family"
# family = movies_to_genres[m].heaad(3)
# print(family)

In [19]:
# Filtering the data

# m = movies_to_genres["genre"] == "Comedy"
# comedy = movies_to_genres[m].head(3)
# print(comedy)

In [20]:
# Outer join 

# family_comedy = family.merge(comedy, on="movie_id", how="outer", suffixes=("_fam", "_com"))
# print(family_comedy)

## Merging a table to itself
Common situations:
* Hierarchical relationships
* Sequential relationships
* Graph data

In [21]:
# Sequel movie data
# Columns: "id", "title", "sequel"

In [22]:
# Merging a table to itself through left join

# original_sequels = sequels.merge(sequels, left_on="sequel", right_on="id", suffixes=("_org","_seq"))
# print(original_Sequels.head())

In [23]:
# Format results
# print(original_sequels[,["title_org","title_seq"]].head())

## Merging on indexes

### Single Index datasets

In [24]:
# Table 1 (later Table 3) without id as and index, columns: "id", "title", "popularity", "release_date"

# Table 2 with "id" as index, columns: "title", "popularity", "release_date"

In [25]:
# Table 3 with id as index
# movies = pd.read_csv("tmdb_movies.csv", index_col=["id"])
# print(movies.head())

# index: "id"
# columns: "tagline"

In [26]:
# Merging tables 3 and 2
# movies_taglines = movies.merge(taglines, on="id", how="left")
# print(movies_taglines.head())

# index: "id"
# columns: "title", "popularity", "release_date", tagline"

### MultiIndex datasets

In [27]:
# samuel = pd.read_csv("samuel.csv",
#                     index_col=["movie_id","cast_id"])
# print(samuel.head())

# index: "movie_id","cast_id
# columns: "name"

In [28]:
# casts = pd.read_csv("casts.csv",
#                     index_col=["movie_id","cast_id"])
# print(casts.head())

# index: "movie_id","cast_id
# columns: "character"

In [29]:
# samuel_casts = samuel.merge(casts, on=["movie_id","cast_id"])
# print(samuel_casts.head())
# print(samuel_casts.shape)

# index: "movie_id", "cast_id"
# columns: "name", "character"

### With left_on and right_on

In [30]:
# Table 1 movies
# Index: "id"
# Columns: "title", "popularity", "release_date"

In [31]:
# Table 2 movies_to_genres
# Index: "movie_id"
# Columns: "genre"

In [32]:
# movie_genres = movies.merge(movies_to_genres,
#                            left_on="id", left_index=True
#                            right_on="movie_id", right_index=True)
# print(movie_genres.head())

# index: "id"
# columns: "id", "title", "popularity", "release_date", "genre"

# 4.3 Advanced merging and concatenating

## Filtering joins
* Pandas doesn't directly support them
* Mutating joins: combine data from two tables
* Filtering joins: filter observations from one table based on whether or not they match an observation in another table

### Semi join
* Filters the left table down to those observations that have a match in the right table
* Similar to an inner join (where intersection between tables is returned), but only columns from the left table are shown

In [33]:
# Table 1 "genres"

# Columns: "gid", "name"

In [34]:
# Table 2 "top_tracks"

# Columns: "tid", "name", "aid", "mtid", "gid", "composer", "u_price"

In [35]:
# Task: Find which genres appear in "top_tracks" table

# genres_tracks = genres.merge(top_tracks, on="gid")
# print(genres_tracks.head())

# top_genres = genres["gid"].isin(genres_tracks["gid"])
# print(top_genres.head())

### Anti join
* Returns the observations in the left table that do not have a matching observation in the right table.
* Returns ONLY columns from the left table and not the right

In [36]:
# Task: Find which genres do not appear in the "top_tracks" table

# genres_track = genres.merge(top_tracks, on="gid", how="left", indicator=True)
# print(genres_track.head())

# gid_list = genres_tracks.loc[genres_tracks["_merge"] == "left_only", "gid"]
# print(gid_list.head())

# non_top_genres = genres[genres["gid"].isin(gid_list)]
# print(non_top_genres.head())

## Concatenate DataFrames toghether vertically
* We can use the concat method to concatenate (stick tables toghether), vertically or horizontally

### Basic concatenation
* Data for different periods of time will come in multiple tables.
* If we want to analyze all tables, we need to combine them into one.

In [37]:
# Example
# Columns: "iid", "cid", "invoice_date", "total"

# inv_jan
# inv_feb
# inv_mar

In [38]:
# Basic concatenation
# pd.concat([inv_jan, inv_feb, inv_mar])

### Ignoring the index
* The index will go from 0 to n-1
* Used if the index has no valuable information

In [39]:
# pd.concat([inv_jan, inv_feb, inv_mar], 
#           ignore_index=True)

### Setting labels to original tables
* Associate specific keys with each of the pieces of our -three- original tables
* ```ingore_index=False``` (can't add a key and ignore an index at the same time)
* Results in a table with a multi-index, with the label on the first label

In [40]:
# pd.concat([inv_jan, inv_feb, inv_mar],
#           ignore_index=False,
#           keys=["jan","feb","mar"])

### Concatenate tables with different column names
* For combining tables that have different column names
* ```sort=True``` (alphabetically sort the different column names in the result)

In [41]:
# Table inv_jan
# Columns: "iid", "cid", "invoice_date", "total"

# Table inv_feb
# Columns: "iid", "cid", "invoice_date", "total", "bill_ctry"

In [42]:
# All columns between tables

# pd.concat([inv_jan, inv_feb], 
#           sort=True)

In [43]:
# Only matching columns between tables

# pd.concat([inv_jan, inv_feb], 
#           join="inner")

## Verifying integrity

Why:
- Real world data is often not clean

What to do:
- Fix incorrect data
- Drop duplicate rows

Some possible merging issues:

1. Unintentional one-to-many relationship
2. Unintentional many-to-many relationship

Some possible concatenating issues:

1. Duplicate records possibly unintentionally introduced

### Validating merges
```pd.merge(validate=None)```
Checks if merge is of a specified type (replace "None" with):
1. 'one_to_one'
2. 'one_to_many'
3. 'many_to_one'
4. 'many_to_many'

In [44]:
# Table 1 "tracks"

# Columns: "tid", "name", "name", "aid", "mtid", "gid", "u_price"

In [45]:
# Table 2 "specs"

# Columns: "tid", "milliseconds", "bytes"

In [46]:
# tracks.merge(specs, on="tid",
#         validate="one_to_one")
# Result: Merge keys not unique, not a one'to'one merge

### Verifying concatenations
```pd.concat(verify_integrity=Fasle)```
* Check whether the new concatenated index contains duplicates
* Default value is ```False```

In [47]:
# Example
# Columns: "iid", "cid", "invoice_date", "total"

# inv_jan
# inv_feb
# inv_mar

In [48]:
# pd.concat([inv_feb, inv_mar],
#           verify_integrity=True)
# Results: Indexes have overlapping values

In [49]:
# pd.concat([inv_feb, inv_mar],
#           verify_integrity=False)
# Results: Tables concatenated

# 4.4 Merging ordered and time-series data

## ```pd.merge.ordered()```

About the method...

Syntax
- Calling the function while working with 2 DataFrames: ```pd.merge_ordered(df1, df2, arguments)```

Arguments
- Column(s) to join on: ```on=```, ```left_on=```, ```right_on=```
- Type of join: ```how=``` (left right, inner, outer)
- Overlapping column names: ```suffixes=```
- Interpolate missing data (default is ```None```): ```fill_method=ffill```

What does it do?
- Allows to merge TABLES
- Similar results to the standard merge method with an outer join, but in here the results are sorted
- Sorted results make it a useful method for ordered data / time-series

In [2]:
# Description of how the method works
# Left table: Columns A,B,C
# Right table: Columns C,D
# Result table: Columns A,B,C,D

In [3]:
# Description: table of the stock prices of the Apple Coporation from Feb to Jun 2007
# Table 1 name: aapl
# Columns: date, close

# Description: table of the stock prices of McDonald's from Jan to May 2007
# Table 2 name: mcd
# Columns: date, close

In [5]:
# import pandas as pd
# pd.merge_ordered(aapl, mcd, on="date", suffixes=("_aapl","_mcd"))

# Results in a table with columns: date, close_aapl, close_mcd

In [ ]:
# import pandas as pd
# pd.merge_ordered(aapl, mcd, on="date", suffixes=("_aapl","_mcd"), fill_method="ffill")

# Results in a table with columns: date, close_aapl, close_mcd
# Particularities:  in the last row, a NaN value in the "close_mcd" column was filled with the value from the previous row due to the fill_method parameter
# which forward fills null values through interpolation

## ```pd.merge.asof()```

About the method...

Syntax
- Calling the function while working with 2 DataFrames: ```pd.merge.asof(df1, df2, arguments)```

Arguments
- Column(s) to join on: ```on=```, ```left_o=n```, ```right_on=```
- Type of join: ```how=``` (left right, inner, outer)
- Overlapping column names: ```suffixes=```
- Direction (default is ```None```): ```forward```, ```nearest```

What does it do?
- Allows to merge TABLES
- Similar results to the ```pd.merge_ordered()``` method, hence similar features (sorted results)
- Match on the nearest key column and not exact matches

## ```dataframe.query()```

About the method...

Syntax
- Calling the function while working with 2 DataFrames: ```dataframe.query('SOME SELECTION STATEMENT')```

What does it do?
- Accepts an input string that it will use to select rows to return from the table.
- The string you provide to the query function is similar to the portion after the WHERE clause of a SQL statement.

## ```dataframe.melt()```

About the method...

Syntax
- Calling the function while working with 2 DataFrames: ```dataframe.melt(arguments)```

Arguments
- Selects columns to be used as identifier variables: ```id_vars=[list of columns]```
- Will allow us to control which columns are unpivoted: ```value_vars=[list of columns]```
- Will allow us to set the name of column in the output: ```var_name='column'```
- Will allow us to set the name of the value column in the output: ```var_values='column'```

What does it do?
- Will unpivot a table from wide to long format. This is often a much more computer-friendly format, therefore making this a valuable method to know.
- Wide format: data where every row relates to one subject, and each column has different information about an attribute of that subject.
- Long (or tall) format: information about one subject is found over many rows, and each row has one attribute about that subject.